/* =========================
   GLOBAL RESET
========================= */

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}


/* =========================
   BODY
========================= */

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/* =========================
   BOX SIZING
========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* =========================
   IMAGES
========================= */

img {
  max-width: 100%;
}


/* =========================
   BUTTONS
========================= */

button {
  font-family: inherit;
}


/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
} 